Repository EasyRPG/liblcf, pull requests merged in 2019-03, with the labels that each got.

#312 Savegame move speed default is 4 and not 3
  generator/csv/fields.csv
  src/generated/rpg_savemapeventbase.h
Labels: Chunks, Savegames

#313 Add Easyrpg savegame chunk
  CMakeLists.txt
  Makefile.am
  generator/csv/fields_easyrpg.csv
  generator/csv/structs_easyrpg.csv
  generator/generate.py
  src/generated/lsd_chunks.h
  src/generated/lsd_save.cpp
  src/generated/lsd_saveeasyrpgdata.cpp
  src/generated/rpg_save.h
  src/generated/rpg_saveeasyrpgdata.h
  src/lsd_reader.cpp
  src/lsd_reader.h
Labels: Chunks, Savegames

#317 MorphOS build fix
  src/encoder.cpp
Labels: Building

#319 Add missing <cstdio> include
  src/encoder.cpp
Labels: Building

#320 Rename timer chunks
  generator/csv/fields.csv
  src/generated/lsd_chunks.h
  src/generated/lsd_saveinventory.cpp
  src/generated/rpg_saveinventory.h
Labels: Chunks

#323 Rename 2k3 Skill/Item state_effect -> reverse_state_effect
  generator/csv/fields.csv
  src/generated/ldb_chunks.h
  src/generated/ldb_item.cpp
  src/generated/ldb_skill.cpp
  src/generated/rpg_item.h
  src/generated/rpg_skill.h
Labels: Chunks

#321 Remove SaveVehicleLocation::original_move_route_index
  generator/csv/fields.csv
  src/generated/lsd_chunks.h
  src/generated/lsd_savevehiclelocation.cpp
  src/generated/rpg_savevehiclelocation.h
Labels: Chunks

#311 Rename event interpreter runtime state chunks
  CMakeLists.txt
  Makefile.am
  generator/csv/fields.csv
  generator/csv/structs.csv
  src/generated/lsd_chunks.h
  src/generated/lsd_save.cpp
  src/generated/lsd_savecommonevent.cpp
  src/generated/lsd_saveeventcommands.cpp
  src/generated/lsd_saveeventdata.cpp
  src/generated/lsd_saveeventexecdata.cpp
  src/generated/lsd_saveeventexecframe.cpp
  src/generated/lsd_saveeventexecstate.cpp
  src/generated/lsd_savemapevent.cpp
  src/generated/rpg_save.h
  src/generated/rpg_savecommonevent.h
  src/generated/rpg_saveeventexecdata.h
  src/generated/rpg_saveeventexecframe.h
  src/generated/rpg_saveeventexecstate.h
  src/generated/rpg_saveeventrunframe.h
  src/generated/rpg_saveeventrunstate.h
  src/generated/rpg_savemapevent.h
Labels: Chunks
