Repository EasyRPG/liblcf, pull requests merged in 2021-08, with the labels that each got.

#432 Change keys in SaveEventExecState from bool to int for ManiacPatch
  generator/csv/fields.csv
  src/generated/lcf/lsd/chunks.h
  src/generated/lcf/rpg/saveeventexecstate.h
  src/generated/lsd_saveeventexecstate.cpp
Labels: Chunks

#421 Add custom game settings in the database
  generator/csv/fields_easyrpg.csv
  src/generated/lcf/ldb/chunks.h
  src/generated/lcf/rpg/battlecommands.h
  src/generated/lcf/rpg/item.h
  src/generated/lcf/rpg/skill.h
  src/generated/lcf/rpg/system.h
  src/generated/ldb_battlecommands.cpp
  src/generated/ldb_item.cpp
  src/generated/ldb_skill.cpp
  src/generated/ldb_system.cpp
  src/generated/rpg_battlecommands.cpp
  src/generated/rpg_item.cpp
  src/generated/rpg_skill.cpp
  src/generated/rpg_system.cpp
Labels: Chunks, Enhancement

#431 Remove the need for pkgconfig in cmake config
  .gitattributes
  .gitignore
  CMakeLists.txt
  Makefile.am
  builds/cmake.config.h.in
  builds/config.h.in
  builds/liblcf-config.cmake.in
  configure.ac
Labels: Building
