Repository EasyRPG/liblcf, pull requests merged in 2021-03, with the labels that each got.

#414 Make some hardcoded terms customizable
  CMakeLists.txt
  Makefile.am
  generator/csv/constants.csv
  generator/csv/fields_easyrpg.csv
  generator/csv/functions.csv
  generator/generate.py
  generator/templates/rpg_header.tmpl
  src/generated/lcf/ldb/chunks.h
  src/generated/lcf/rpg/terms.h
  src/generated/ldb_terms.cpp
  src/generated/rpg_terms.cpp
  src/rpg_terms.cpp
Labels: Chunks, Enhancement

#415 CMake 3.8: Fix liblcf-config.cmake
  builds/liblcf-config.cmake.in
Labels: Building

#417 Add Maniac patch chunks
  generator/csv/enums_easyrpg.csv
  generator/csv/fields_easyrpg.csv
  src/generated/lcf/ldb/chunks.h
  src/generated/lcf/lsd/chunks.h
  src/generated/lcf/rpg/enemy.h
  src/generated/lcf/rpg/eventpage.h
  src/generated/lcf/rpg/saveeventexecframe.h
  src/generated/lcf/rpg/savesystem.h
  src/generated/ldb_enemy.cpp
  src/generated/lsd_saveeventexecframe.cpp
  src/generated/lsd_savesystem.cpp
  src/generated/rpg_enemy.cpp
  src/generated/rpg_saveeventexecframe.cpp
  src/generated/rpg_savesystem.cpp
  src/lcf/reader_lcf.h
  src/ldb_equipment.cpp
  src/reader_lcf.cpp
  src/reader_struct_impl.h
Labels: Chunks
